.cookie-clicker-btn {
    background: url("../../images/cookie.png") no-repeat;
    background-size: contain;
    border-style: none;
    filter: drop-shadow(5px 5px 5px grey);
    width: 100vw;
    height: 100vh;
}